.hero {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 110%;
    align-items: baseline;
    justify-content: center;
    height: 100vh;
    left: -0%;
    bottom: -5%;
    padding-bottom: 0 !important;
    // background-image: url('../../images/landing/layer5.png');
    // background-size: cover;

    .layer {
        // position: absolute;
        width: 120vw;
        // left: -30%;
        // align-self: flex-end;
        top: auto !important;
        bottom: 0 !important;
        margin-top: auto;
        // transform: translateX(-20%);
        margin-bottom: 0 !important;
        margin-right: 0;

        img {
            position: relative;
            margin-top: auto;
            margin-bottom: 0;
            width: 100%;
            max-width: 100% !important;
        }

        &.layer1 {
            // height: 100%;
            bottom: 0;
            margin-bottom: 0 !important;

            img {
                max-height: 50vh;
                width: 100% !important;
            }
        }
        &.layer2 {

            img {
                max-height: 60vh;
                width: 100% !important;
            }
        }
        &.layer3 {

            img {
                max-height: 60vh;
                width: 100% !important;
            }
        }
        &.layer4 {

            img {
                max-height: 80vh;
                width: 100% !important;
            }
        }

        &.layer5 {
            height: 100% !important;
            min-height: 100%;
            
            img {
                height: 100vh;
            }
        }
    }
}