@import '../config';
@import '../global';

.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero {

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 110%;
    align-items: baseline;
    justify-content: center;
    height: 105vh;
    left: -5%;
    bottom: 0;
    padding-bottom: 0 !important;
    background-color: #002a25;
    // background-image: url('../../images/landing/layer5.png');
    // background-size: cover;

    .logo {
        @include desktop-sm {
            z-index: 3;
            top: 48% !important;
        }

        @include tablet-md {
            top: 48% !important;
        }

        position: absolute;

        // top: 0;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        font-weight: 900;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 4px 2px 2px rgba(0, 0, 0, .2);
        width: 100%;
        max-width: 95vw;
        z-index: 4;

        h1 {
            @include desktop-sm {
                font-size: 2.8rem;
            }

            @include tablet-lg {
                font-size: 2.3rem;
            }

            @include tablet-md {
                font-size: 1.9rem;
            }

            font-size: 4rem;
        }
    }

    .layer {
        @include tablet-lg {
            width: 150vw;
        }
    
        @include tablet-md {
            width: 230vw;
        }
        // position: absolute;
        position: relative;
        width: 120vw;
        // left: -30%;
        // align-self: flex-end;
        top: auto !important;
        bottom: 0 !important;
        margin-top: auto;
        // transform: translateX(-20%);
        margin-bottom: 0 !important;
        margin-right: 0;

        img {
            @include tablet-md {
                transform: translateX(-10%)
            }

            position: relative;
            margin-top: auto;
            margin-bottom: 0;
            width: 100%;
            max-width: 100% !important;
        }

        &.layer1 {
            // height: 100%;
            bottom: 0 !important;
            margin-bottom: 0 !important;
            z-index: 5;

            img {
                max-height: 50vh;
                width: 100% !important;
                
            }
        }
        &.layer2 {
            z-index: 4;

            img {
                @include desktop-sm {
                    height: 45vh;
                }

                max-height: 60vh;
                width: 100% !important;
            }
        }
        &.layer3 {
            z-index: 3;

            img {
                @include desktop-sm {
                    height: 50vh;
                }
                max-height: 60vh;
                width: 100% !important;
            }
        }
        &.layer4 {
            
            @include desktop-sm {
                width: 130vw !important;
            }
            @include tablet-md {
                width: 180vw !important;
            }
            z-index: 2;

            img {
                @include desktop-sm {
                    max-height: 90vh;
                    height: 70vh;
                }

                max-height: 80vh;
                width: 100% !important;
            }
        }

        &.layer5 {
            height: 100% !important;
            min-height: 100% !important;
            margin-top: 0;
            z-index: 1;
            
            img {
                height: 100vh;
            }
        }
    }

    transition: $transitionTime !important;

    &.hidden {
        top: -105vh;

        .layer {

            &.layer1 {
                
                img {
                    transition: 1s;
                    max-height: 80vh !important;
                    height: 80vh !important;
                    max-width: 120% !important;
                    width: 120% !important;
                    transform: translateX(-10%);
                }
            }

            &.layer2 {
                
                img {
                    transition: 1s;
                    max-height: 75vh !important;
                    height: 75vh !important;
                    max-width: 110% !important;
                    width: 110% !important;
                    transform: translateX(-5%);
                }
            }
        }
    }

    &.shown {
        top: 0;

        &.up {

            .logo {
                animation-delay: $transitionTime;
            }
        }
            

        .logo {
            opacity: 0;
            animation-duration: 1s;
            animation-fill-mode: forwards; 
            animation-iteration-count: 1;
            animation-delay: 0;
            animation-name: fade-logo;
        }
    }
}

.about {
    // position: absolute;
    background-color: #002a25;
    height: 105vh;
    width: 100%;
    transition: all $transitionTime;

    &.ij {
        background-color: #fff !important;
    }

    &.hidden {
        position: absolute;

        &.down {
            bottom: -105vh;
            top: auto;
        } 

        &.up {
            top: -105vh;
            bottom: auto;
        }
    }

    &.shown {
        bottom: 0 ;
        top: 0 ;

        .container {
            opacity: 0;
            animation-duration: 1s;
            animation-fill-mode: forwards; 
            animation-iteration-count: 1;
            animation-delay: $transitionTime;
            animation-name: fade;
        }
    }

    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        @include desktop-lg {
            max-width: 60vw;
        }

        position: relative;
        display: flex;
        width: 90%;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 3rem;
        // min-width: 400px;
        max-width: 700px;

        .left {

            width: auto;
            position: absolute;
            top: 0;
            left: 0;

            
            .heading h1 {
                

                @include desktop-lg {
                    font-size: 3.5vw;
                }

                @include tablet-lg {
                    font-size: 2.6rem !important;
                }

                @include tablet-md {
                    font-size: 2.6rem !important;
                }
                // display: none;
                
                font-size: 4vw;
            }
        }

        .right {
            @include tablet-lg {
                font-size: 1.6rem;
                letter-spacing: 1.4;
            }

            @include tablet-md {
                font-size: 1.4rem;
            }

            @include desktop-lg {
                font-size: 2vw;
            }

            color: #fff;
            // font-size: 1.8rem;
            font-size: 3vw;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1.5;
        }

        .btn-box {
            position: absolute;
            bottom: 0;
            top: auto;
            left: auto;
            right: 0;

        }
    }
}

.contact {
    height: 105vh;
    width: 100%;
    transition: $transitionTime;

    &.hidden {
        position: absolute;

        &.down {
            bottom: -105vh;
            top: auto;
        } 

        &.up {
            top: -105vh;
            bottom: auto;
        }
    }

    &.shown {
        bottom: 0 ;
        top: 0 ;

        .container {
            opacity: 0;
            animation-duration: 1s;
            animation-fill-mode: forwards; 
            animation-iteration-count: 1;
            animation-delay: $transitionTime;
            animation-name: fade;
        }
    }

    display: flex;
    align-items: center;

    .container {
        padding-left: 2rem;

        .middle {
            margin-top: .5rem;

            .text {
                font-weight: bold;
                font-size: 1.7rem;
            }

            .list-container {
                margin: 1rem 0;
                margin-bottom: 1.2rem;

                .option {
                    position: relative;
                    display: block;
                    padding-left: 2.5rem;
                    margin: .5rem 0;
                    font-size: 1.3rem;
                    font-weight: 500;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 10px;
                        height: 7px;
                        width: 18px;
                        // transform: translateY(-50%);
                        background-color: $main-color;
                    }
                }
            }
        }

        .links {
            margin-top: 1rem;

            .mail-link {
                display: flex;
                align-items: center;

                .icon {
                    font-size: 1.5rem;
                    color: $main-color-light;
                }

                span {
                    margin-left: 1rem;
                    opacity: .6;
                }
            }

            .icons-container {
                margin-top: 1rem;

                .icon {
                    color: $main-color-light;
                    text-decoration: none;
                    font-size: 1.7rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(30px);
    } 100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-logo {
    0% {
        opacity: 0;
        transform: translate(-50%, 100px) !important;
    } 100% {
        opacity: 1;
        transform: translate(-50%, -50%) !important;
    }
}