@import '../config';

.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero {

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 110%;
    align-items: baseline;
    justify-content: center;
    height: 105vh;
    left: -5%;
    bottom: 0;
    padding-bottom: 0 !important;
    background-color: #002a25;
    // background-image: url('../../images/landing/layer5.png');
    // background-size: cover;

    .logo {
        @include desktop-sm {
            z-index: 3;
            top: 48% !important;
        }

        @include tablet-md {
            top: 48% !important;
        }

        position: absolute;

        // top: 0;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        font-weight: 900;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 4px 2px 2px rgba(0, 0, 0, .2);
        width: 100%;
        max-width: 95vw;
        z-index: 4;

        h1 {
            @include desktop-sm {
                font-size: 2.8rem;
            }

            @include tablet-lg {
                font-size: 2.3rem;
            }

            @include tablet-md {
                font-size: 1.9rem;
            }

            font-size: 4rem;
        }
    }

    .layer {
        @include tablet-lg {
            width: 150vw;
        }
    
        @include tablet-md {
            width: 230vw;
        }
        // position: absolute;
        position: relative;
        width: 120vw;
        // left: -30%;
        // align-self: flex-end;
        top: auto !important;
        bottom: 0 !important;
        margin-top: auto;
        // transform: translateX(-20%);
        margin-bottom: 0 !important;
        margin-right: 0;

        img {
            @include tablet-md {
                transform: translateX(-10%)
            }

            position: relative;
            margin-top: auto;
            margin-bottom: 0;
            width: 100%;
            max-width: 100% !important;
        }

        &.layer1 {
            // height: 100%;
            bottom: 0 !important;
            margin-bottom: 0 !important;
            z-index: 5;

            img {
                max-height: 50vh;
                width: 100% !important;
                
            }
        }
        &.layer2 {
            z-index: 4;

            img {
                @include desktop-sm {
                    height: 45vh;
                }

                max-height: 60vh;
                width: 100% !important;
            }
        }
        &.layer3 {
            z-index: 3;

            img {
                @include desktop-sm {
                    height: 50vh;
                }
                max-height: 60vh;
                width: 100% !important;
            }
        }
        &.layer4 {
            
            @include desktop-sm {
                width: 130vw !important;
            }
            @include tablet-md {
                width: 180vw !important;
            }
            z-index: 2;

            img {
                @include desktop-sm {
                    max-height: 90vh;
                    height: 70vh;
                }

                max-height: 80vh;
                width: 100% !important;
            }
        }

        &.layer5 {
            height: 100% !important;
            min-height: 100% !important;
            margin-top: 0;
            z-index: 1;
            
            img {
                height: 100vh;
            }
        }
    }

    transition: $transitionTime !important;

    &.hidden {
        top: -105vh;

        .layer {

            &.layer1 {
                
                img {
                    transition: 1s;
                    max-height: 80vh !important;
                    height: 80vh !important;
                    max-width: 120% !important;
                    width: 120% !important;
                    transform: translateX(-10%);
                }
            }

            &.layer2 {
                
                img {
                    transition: 1s;
                    max-height: 75vh !important;
                    height: 75vh !important;
                    max-width: 110% !important;
                    width: 110% !important;
                    transform: translateX(-5%);
                }
            }
        }
    }

    &.shown {
        top: 0;
    }
}

.about {
    // position: absolute;
    background-color: #002a25;
    height: 105vh;
    width: 100%;
    transition: all $transitionTime;

    &.ij {
        background-color: #fff !important;
    }

    &.hidden {
        position: absolute;

        &.down {
            bottom: -105vh;
            top: auto;
        } 

        &.up {
            top: -105vh;
            bottom: auto;
        }
    }

    &.shown {
        bottom: 0 ;
        top: 0 ;
    }
}