$main-font-family: 'Nunito', sans-serif;
$transitionTime: 1.5s;
$main-color-light: #00ccbe;
$main-color: #017a72;
$main-color-dark: #002a25;

@mixin desktop-sm {
    @media (max-width: 1000px) {
        @content;
    }
}
@mixin tablet-lg {
    @media (max-width: 750px) {
        @content;
    }
}

@mixin tablet-lg-md {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin tablet-md {
    @media (max-width: 500px) {
        @content;
    }
}

@mixin tablet-sm {
    @media (max-width: 400px) {
        @content;
    }
}

