@import './LandingPage/LandingPage';
@import './config';
@import './Projects/projects';

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    overflow: hidden;
    font-family: $main-font-family;
    background-color: $main-color-dark;
    color: #fff;
}