@import './LandingPage/LandingPage';
@import './config';
@import './Projects/projects';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    overflow: hidden;
    font-family: $main-font-family;
    background-color: $main-color-dark;
    color: #fff;
    -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
    display: none;
}