.heading {
  color: #fff;
  position: relative;
}

.heading.with-pb {
  margin-bottom: 2rem;
}

.heading h1 {
  position: relative;
  z-index: 3;
  font-size: 3.5rem;
}

@media (max-width: 750px) {
  .heading h1 {
    font-size: 3.1rem;
  }
}

@media (max-width: 500px) {
  .heading h1 {
    font-size: 2.5rem;
  }
}

.heading h1 span {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: inline-block;
  margin-right: 13px;
}

.heading h1 span:hover {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

.heading::after {
  content: '';
  position: absolute;
  width: 20%;
  min-width: 50px;
  height: 10px;
  background-color: #017a72;
  left: 0;
  top: auto;
  z-index: 2;
  bottom: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.heading:hover::after {
  width: 100%;
}

.btn {
  position: relative;
  padding: 1rem 2.2rem;
  border: 3px solid #017a72;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 6;
  cursor: pointer;
}

.btn span {
  position: relative;
  z-index: 8;
}

.btn:focus {
  outline: none;
}

.btn::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  background-color: #01ada1;
  z-index: 7;
}

.btn:hover::before {
  width: 100%;
}

.page-container {
  padding: 3rem 2rem;
}

@media (max-width: 500px) {
  .page-container {
    padding: 2rem 1rem;
  }
}

.back-link {
  display: block;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: inline-block;
  margin-right: 13px;
}

.back-link:hover {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

.back-link .icon {
  font-size: 1.6rem;
  margin-right: .5rem;
}

.back-link span {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 110%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 105vh;
  left: -5%;
  bottom: 0;
  padding-bottom: 0 !important;
  background-color: #002a25;
  -webkit-transition: 1.5s !important;
  transition: 1.5s !important;
}

.hero .logo {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 95vw;
  z-index: 4;
}

@media (max-width: 1000px) {
  .hero .logo {
    z-index: 3;
    top: 48% !important;
  }
}

@media (max-width: 500px) {
  .hero .logo {
    top: 48% !important;
  }
}

.hero .logo h1 {
  font-size: 4rem;
}

@media (min-width: 1250px) {
  .hero .logo h1 {
    font-size: 5vw;
  }
}

@media (max-width: 1000px) {
  .hero .logo h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 750px) {
  .hero .logo h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 500px) {
  .hero .logo h1 {
    font-size: 1.9rem;
  }
}

.hero .layer {
  position: relative;
  width: 120vw;
  top: auto !important;
  bottom: 0 !important;
  margin-top: auto;
  margin-bottom: 0 !important;
  margin-right: 0;
}

@media (max-width: 750px) {
  .hero .layer {
    width: 150vw;
  }
}

@media (max-width: 500px) {
  .hero .layer {
    width: 230vw;
  }
}

.hero .layer img {
  position: relative;
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  max-width: 100% !important;
}

@media (max-width: 500px) {
  .hero .layer img {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

.hero .layer.layer1 {
  bottom: 0 !important;
  margin-bottom: 0 !important;
  z-index: 5;
}

.hero .layer.layer1 img {
  max-height: 50vh;
  width: 100% !important;
}

.hero .layer.layer2 {
  z-index: 4;
}

.hero .layer.layer2 img {
  max-height: 60vh;
  width: 100% !important;
}

@media (max-width: 1000px) {
  .hero .layer.layer2 img {
    height: 45vh;
  }
}

.hero .layer.layer3 {
  z-index: 3;
}

.hero .layer.layer3 img {
  max-height: 60vh;
  width: 100% !important;
}

@media (max-width: 1000px) {
  .hero .layer.layer3 img {
    height: 50vh;
  }
}

.hero .layer.layer4 {
  z-index: 2;
}

@media (max-width: 1000px) {
  .hero .layer.layer4 {
    width: 130vw !important;
  }
}

@media (max-width: 500px) {
  .hero .layer.layer4 {
    width: 180vw !important;
  }
}

.hero .layer.layer4 img {
  max-height: 80vh;
  width: 100% !important;
}

@media (max-width: 1000px) {
  .hero .layer.layer4 img {
    max-height: 90vh;
    height: 70vh;
  }
}

.hero .layer.layer5 {
  height: 100% !important;
  min-height: 100% !important;
  margin-top: 0;
  z-index: 1;
}

.hero .layer.layer5 img {
  height: 100vh;
}

.hero.hidden {
  top: -105vh;
}

.hero.hidden .layer.layer1 img {
  -webkit-transition: 1s;
  transition: 1s;
  max-height: 80vh !important;
  height: 80vh !important;
  max-width: 120% !important;
  width: 120% !important;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.hero.hidden .layer.layer2 img {
  -webkit-transition: 1s;
  transition: 1s;
  max-height: 75vh !important;
  height: 75vh !important;
  max-width: 110% !important;
  width: 110% !important;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.hero.shown {
  top: 0;
}

.hero.shown.up .logo {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.hero.shown .logo {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-name: fade-logo;
          animation-name: fade-logo;
}

.about {
  background-color: #002a25;
  height: 105vh;
  width: 100%;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about.ij {
  background-color: #fff !important;
}

.about.hidden {
  position: absolute;
}

.about.hidden.down {
  bottom: -105vh;
  top: auto;
}

.about.hidden.up {
  top: -105vh;
  bottom: auto;
}

.about.shown {
  bottom: 0;
  top: 0;
}

.about.shown .container {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: fade;
          animation-name: fade;
}

.about .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  max-width: 700px;
}

@media (min-width: 1250px) {
  .about .container {
    max-width: 60vw;
  }
}

.about .container .left {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.about .container .left .heading h1 {
  font-size: 4vw;
}

@media (min-width: 1250px) {
  .about .container .left .heading h1 {
    font-size: 3.5vw;
  }
}

@media (max-width: 750px) {
  .about .container .left .heading h1 {
    font-size: 2.6rem !important;
  }
}

@media (max-width: 500px) {
  .about .container .left .heading h1 {
    font-size: 2.6rem !important;
  }
}

.about .container .right {
  color: #fff;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
}

@media (max-width: 750px) {
  .about .container .right {
    font-size: 1.6rem;
    letter-spacing: 1.4;
  }
}

@media (max-width: 500px) {
  .about .container .right {
    font-size: 1.4rem;
  }
}

@media (min-width: 1250px) {
  .about .container .right {
    font-size: 2vw;
  }
}

.about .container .btn-box {
  position: absolute;
  bottom: 0;
  top: auto;
  left: auto;
  right: 0;
}

.contact {
  height: 105vh;
  width: 100%;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  align-items: center;
}

.contact.hidden {
  position: absolute;
}

.contact.hidden.down {
  bottom: -105vh;
  top: auto;
}

.contact.hidden.up {
  top: -105vh;
  bottom: auto;
}

.contact .container {
  width: 50%;
  min-width: 50%;
  margin-right: 3rem;
}

.contact .image {
  width: 100%;
}

@media (max-width: 1000px) {
  .contact .image {
    display: none;
  }
}

.contact .image img {
  width: 100%;
}

.contact.shown {
  bottom: 0;
  top: 0;
}

.contact.shown .container, .contact.shown .image {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: fade;
          animation-name: fade;
}

.contact.shown .image {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.contact .container {
  padding-left: 2rem;
}

@media (max-width: 500px) {
  .contact .container {
    padding-left: 1rem;
  }
}

@media (max-width: 1000px) {
  .contact .container {
    width: 100%;
  }
}

@media (min-width: 1250px) {
  .contact .container .heading h1 {
    font-size: 3.5vw;
  }
}

.contact .container .middle {
  margin-top: .5rem;
}

.contact .container .middle .text {
  font-weight: bold;
  font-size: 1.7rem;
}

@media (min-width: 1250px) {
  .contact .container .middle .text {
    font-size: 1.7vw;
  }
}

@media (max-width: 500px) {
  .contact .container .middle .text {
    font-size: 1.4rem;
  }
}

.contact .container .middle .list-container {
  margin: 1rem 0;
  margin-bottom: 1.2rem;
}

.contact .container .middle .list-container .option {
  position: relative;
  display: block;
  padding-left: 2.5rem;
  margin: .5rem 0;
  font-size: 1.3rem;
  font-weight: 500;
}

@media (min-width: 1250px) {
  .contact .container .middle .list-container .option {
    font-size: 1.4vw;
    padding-left: 3vw;
    margin: .5vw 0;
  }
}

@media (max-width: 500px) {
  .contact .container .middle .list-container .option {
    font-size: 1rem;
    padding-left: 1.5rem;
  }
}

.contact .container .middle .list-container .option::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  height: 7px;
  width: 18px;
  background-color: #017a72;
}

@media (min-width: 1250px) {
  .contact .container .middle .list-container .option::before {
    height: 0.5vw;
    width: 1.3vw;
  }
}

@media (max-width: 500px) {
  .contact .container .middle .list-container .option::before {
    left: 0;
    width: 14px;
  }
}

.contact .container .links {
  margin-top: 1rem;
}

.contact .container .links .mail-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container .links .mail-link .icon {
  font-size: 1.5rem;
  color: #00ccbe;
}

@media (min-width: 1250px) {
  .contact .container .links .mail-link .icon {
    font-size: 1.6vw;
  }
}

@media (max-width: 500px) {
  .contact .container .links .mail-link .icon {
    font-size: 1.1rem;
  }
}

.contact .container .links .mail-link span {
  margin-left: 1rem;
  opacity: .6;
}

@media (min-width: 1250px) {
  .contact .container .links .mail-link span {
    font-size: 1.1vw;
  }
}

@media (max-width: 500px) {
  .contact .container .links .mail-link span {
    font-size: .8rem;
  }
}

.contact .container .links .icons-container {
  margin-top: 1rem;
}

.contact .container .links .icons-container .icon {
  color: #00ccbe;
  text-decoration: none;
  font-size: 1.7rem;
  margin-right: 1rem;
}

@media (min-width: 1250px) {
  .contact .container .links .icons-container .icon {
    font-size: 1.8vw;
  }
}

@media (max-width: 500px) {
  .contact .container .links .icons-container .icon {
    font-size: 1.4rem;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-logo {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100px) !important;
            transform: translate(-50%, 100px) !important;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
  }
}

@keyframes fade-logo {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100px) !important;
            transform: translate(-50%, 100px) !important;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
  }
}

.switch-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

@media (max-width: 750px) {
  .switch-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.switch-menu .title {
  font-size: 1.8rem;
  font-weight: 700;
}

.switch-menu .btns-container {
  margin-left: 2rem;
}

@media (max-width: 750px) {
  .switch-menu .btns-container {
    margin-left: 0;
    margin-top: .5rem;
  }
}

.switch-menu .btns-container button {
  padding: .9rem 1.6rem;
}

.switch-menu .btns-container button span {
  font-size: .8rem;
}

.switch-menu .btns-container button.active::before {
  width: 100%;
}

.projects-container {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media (max-width: 500px) {
  .projects-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: initial !important;
        grid-template-columns: initial !important;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
}

.projects-container .project-card {
  width: 100%;
  margin: auto;
  position: relative;
  background-color: #00221e;
  padding: 2rem 3rem;
  overflow: hidden;
  border-radius: 1rem;
}

@media (max-width: 500px) {
  .projects-container .project-card {
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.projects-container .project-card .clip-path {
  border-radius: 50%;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: .4s;
  transition: .4s;
  left: -50px;
  top: -50px;
}

.projects-container .project-card:hover .clip-path {
  width: 100%;
  height: 100%;
  border-radius: 0;
  left: 0;
  top: 0;
}

.projects-container .project-card .card-top {
  position: relative;
  width: 100%;
  max-height: 300px;
  min-height: 300px;
  overflow: hidden;
  z-index: 6;
}

@media (max-width: 400px) {
  .projects-container .project-card .card-top {
    max-height: 180px;
    min-height: 180px;
  }
}

.projects-container .project-card .card-top img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.projects-container .project-card .card-bottom {
  position: relative;
  z-index: 6;
  margin-top: 1.5rem;
}

.projects-container .project-card .card-bottom .title {
  font-size: 1.6rem;
  font-weight: 800;
}

.projects-container .project-card .card-bottom .summary {
  opacity: .7;
  margin: .5rem 0;
}

.projects-container .project-card .card-bottom .stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-container .project-card .card-bottom .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.projects-container .project-card .card-bottom .btns a {
  text-decoration: none !important;
  color: #017a72;
  font-size: 25px;
  padding: .7rem 1.5rem;
  border: 1px solid #017a72;
  -webkit-transition: .2s;
  transition: .2s;
}

.projects-container .project-card .card-bottom .btns a:hover {
  background-color: #fff;
}

.projects-container .project-card:hover {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.projects-container .project-card:hover .card-bottom {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #002a25 !important;
}

.projects-container .project-card:hover .card-bottom .title {
  color: #000;
}

.projects-container .project-card:hover .card-bottom .button:hover {
  background-color: #017a72;
  color: #fff;
}

.show-project-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100vh !important;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.show-project-overlay.animated {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation-name: slide-overlay;
          animation-name: slide-overlay;
}

.show-project-overlay.animated.hide {
  -webkit-animation-name: slide-overlay-hide;
          animation-name: slide-overlay-hide;
}

.show-project-overlay .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 700px) {
  .show-project-overlay .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.show-project-overlay .container .image {
  width: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 700px) {
  .show-project-overlay .container .image {
    height: 100%;
  }
}

.show-project-overlay .container .image img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
}

.show-project-overlay .container .image.animated.show img {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: show-overlay-elements;
          animation-name: show-overlay-elements;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.show-project-overlay .container .image.animated.hide img {
  opacity: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: hide-overlay-elements;
          animation-name: hide-overlay-elements;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.show-project-overlay .container .image .move-btns {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.show-project-overlay .container .image .move-btns .move-btn {
  height: 100%;
  width: 60px;
  background-color: rgba(1, 122, 114, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.show-project-overlay .container .image .move-btns .move-btn:hover {
  background-color: rgba(1, 122, 114, 0.4);
  color: rgba(255, 255, 255, 0.6);
}

.show-project-overlay .container .image .close-btn {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  top: 20px;
  left: auto;
  right: 80px;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 1.7rem;
  background: none;
  border: none;
  cursor: pointer;
}

.show-project-overlay .container .image .close-btn:hover {
  color: #fff;
}

.show-project-overlay .container .info {
  min-width: 350px;
  width: 350px;
  background-color: #fff;
  height: 100%;
  color: #000;
  padding: 3rem 1rem;
}

@media (max-width: 1000px) {
  .show-project-overlay .container .info {
    min-width: 330px;
    width: 330px;
  }
}

@media (max-width: 700px) {
  .show-project-overlay .container .info {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100% !important;
    padding-top: 1rem;
    -webkit-transition: height .2s;
    transition: height .2s;
    padding-bottom: 1rem;
    min-width: initial;
  }
  .show-project-overlay .container .info.hidden {
    height: auto;
  }
  .show-project-overlay .container .info.hidden .text {
    display: none;
  }
  .show-project-overlay .container .info.shown {
    height: 70vh !important;
  }
  .show-project-overlay .container .info.shown .text {
    display: block;
  }
}

.show-project-overlay .container .info .toggle-block {
  display: none;
  position: absolute;
  top: -1rem !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: auto;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fafafa;
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

@media (max-width: 700px) {
  .show-project-overlay .container .info .toggle-block {
    display: block;
  }
}

.show-project-overlay .container .info .toggle-block:focus {
  outline: none;
}

.show-project-overlay .container .info .toggle-block .icon {
  font-size: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.show-project-overlay .container .info .toggle-block .icon.hidden {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.show-project-overlay .container .info .toggle-block .icon.shown {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}

.show-project-overlay .container .description {
  opacity: 0;
}

.show-project-overlay .container .description.animated.show {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  opacity: 0;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: show-overlay-elements;
          animation-name: show-overlay-elements;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.show-project-overlay .container .description.animated.hide {
  -webkit-animation-delay: .0s;
          animation-delay: .0s;
  opacity: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: hide-overlay-elements;
          animation-name: hide-overlay-elements;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.show-project-overlay .container .description .title {
  font-size: 1.9rem;
  font-weight: 800;
  position: relative;
}

@media (max-width: 700px) {
  .show-project-overlay .container .description .title {
    font-size: 1.7rem;
  }
}

@media (max-width: 400px) {
  .show-project-overlay .container .description .title {
    font-size: 1.4rem;
  }
}

.show-project-overlay .container .description .title::after {
  content: '';
  position: absolute;
  top: auto;
  bottom: 0;
  height: 1px;
  left: 0;
  width: 130px;
  background-color: #002a25;
}

.show-project-overlay .container .description .summary {
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
}

.show-project-overlay .container .description .summary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 7px;
  background-color: #00ccbe;
}

.show-project-overlay .container .description .summary::after {
  content: '';
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  width: 25px;
  height: 7px;
  background-color: #00ccbe;
}

.show-project-overlay .container .description .stack {
  margin: 1.5rem 0;
}

.show-project-overlay .container .description .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.show-project-overlay .container .description .btns a {
  text-decoration: none !important;
  color: #017a72;
  font-size: 25px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  border: 1px solid #017a72;
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-project-overlay .container .description .btns a:hover {
  background-color: #017a72;
  color: #fff;
}

.project-stack .label {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.project-stack .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-stack .img-container .img {
  display: block;
  height: 40px;
  margin-right: 1rem;
}

@-webkit-keyframes slide-overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-overlay-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-overlay-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes show-overlay-elements {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes show-overlay-elements {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes hide-overlay-elements {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
}

@keyframes hide-overlay-elements {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  background-color: #002a25;
  color: #fff;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=main.css.map */